.c-button {
    background-color: $primary;
    border-radius: 10px;
    height: auto;
    padding: 8px 30px;
    color: $text-color-light;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all .12s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $primary-dark;
    }

    &:active {
        background-color: $primary-light;
    }
}