.c-social-icon {
    a {
        width: 40px;
        height: 40px;
        background-color: $text-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
}