@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font-primary: 'Poppins', sans-serif;

$primary: #78c4cb;
$primary-dark: #1096a5;
$primary-light: #ade1e6;
$body-bg: #f3f3f3;
$box-bg: #fff;
$text-color: #000;
$text-color-med: #848484;
$text-color-light: #fff;

$container-width: 664px;

